*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.mono{
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}
.title{
  font-size: 2rem;
  padding: 3rem;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}